/* footer */
.footer { 
  padding: 48px 0 96px;
  background-color: $primary_color;
  color: #fff;
  &__top {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    padding: 44px 0;
    border-top: 1px solid $border_color;
    border-bottom: 1px solid $border_color;
  }
  &__logo {
    
  }
  &__nav {
    
  }
  &__menu {
    display: flex;
    margin-left: -20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    li {
      margin-left: 20px;
      &.active {
        a {
          color: $primary_color_hover;
        }
      }
      a {
        color: #fff;
        white-space: nowrap;
        @include media-breakpoint-up(md) {
          &:hover {
            color: $primary_color_hover;
          }
        }
      }
    }
  }
  &__social {
    display: flex;
    align-items: center;
    margin-left: -22px;
    a {
      padding: 5px;
      margin-left: 22px;
      fill: #fff;
      flex-shrink: 0;
      svg {
        display: block;
        max-width: 14px;
        max-height: 14px;
      }
      @include media-breakpoint-up(md) {
        &:hover {
          fill: $primary_color_hover;
        }
      }
    }
  }
  &__bottom {
    padding: 33px 0;
    border-bottom: 1px solid $border_color;
  }
  &__text {
    font-size: 12px;
    line-height: 16px;
  }
  &__lists {
    display: flex;
    flex-wrap: wrap;
    margin-top: -38px;
  }
  &__list {
    width: 50%;
    margin-top: 38px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    li {
      margin: 14px 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: #fff;
        @include media-breakpoint-up(md) {
          &:hover {
            color: $primary_color_hover;
          }
        }
      }
    }
  }
}
/* /footer */